body { 
    min-height: 100vh;
    
}

.header {
    text-align: center;
    background-color: red;
    color: white;
    height: 100px;
    width: 775px;
    border-bottom: 10px solid red;
}

#container {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    height: 575px;
    width: 575px;
    border-left: 100px solid red;
    border-right: 100px solid red;
    border-bottom: 100px solid red;
}

.center {
    display: flex;
    justify-content: center;
}

.grids {
    background-color: white;
    border: 1px solid black;
}