* {
    border: 2px solid red;
}

body { min-height: 100vh; }

.container {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    justify-content: center;
    align-content: center;
    background-color: black;
}


.gridDiv {
    height:100px;
    width: 100px;
    background-color: blue;
   
}